.staff-search-input input {
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
}

.staff-search-input button {
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
}

.filters-header {
  padding: 0 !important;
}
