<form [formGroup]="employeeSearchForm" *ngIf="formDataLoaded">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-3 staff-search-input">
          <input type="text" class="form-control staff-search-input" formControlName="text"
                 placeholder="Πληκτρολογήστε για αναζήτηση">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="submitSearchForm()">
              Αναζήτηση <fa-icon [icon]="searchIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header filters-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                  Φίλτρα Αναζήτησης <fa-icon [icon]="filterIcon"></fa-icon>
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse collapsed">
              <div class="card-body">
                <div class="form-group">
                  <label for="applicationAuthority">Τμήμα Πανεπιστημίου</label>
                  <select class="form-control" id="applicationAuthority" formControlName="departmentId">
                    <option [value]="null" selected>-</option>
                    <option *ngFor="let d of departments; index as i" [value]="d.departmentId">{{ d.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="universityService">Υπηρεσία Πανεπιστημίου</label>
                  <select class="form-control" id="universityService" formControlName="serviceId">
                    <option [value]="null" selected>-</option>
                    <option *ngFor="let a of universityServices; index as i" [value]="a.serviceId">{{ a.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
