<section class="container">

  <div class="card shadow-sm user-details-card">

    <section class="user-details-container" *ngIf="studentData && !dataLoading">
      <div class="user-details">
        <h2>{{studentData.name}} {{studentData.surname}}</h2>
        <h5>{{studentData.departmentName}}</h5>
      </div>
      <div class="user-details">
        <span>Έτος Εισαγωγής: {{studentData.enrollDate | date:'yyyy'}}</span>
        <span>Αριθμός Μηρτόου: {{studentData.registryNumber}}</span>
        <span>Εξάμηνο: {{studentData.semester}}ο</span>
      </div>
    </section>

  </div>

<!--  <div class="alert alert-danger card" role="alert">-->
<!--      <span>-->
<!--        <fa-icon [icon]="warningSingIcon"></fa-icon> Επείγουσα ειδοποίηση-->
<!--      </span>-->
<!--    <ul>-->
<!--      <li>Ξεκίνησαν οι δηλώσεις του εαρινού εξαμήνου. Προθεσμία υποβολής 10/3</li>-->
<!--      <li>Ξεκινούν από Δευτέρα οι δηλώσεις συγγραμάτων στον Εύδοξο</li>-->
<!--    </ul>-->
<!--  </div>-->

  <div class="card shadow-sm">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'marks'}" (click)="setActiveTab('marks')">Βαθμολογίες</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'course-registration'}" (click)="setActiveTab('course-registration')">Δηλώσεις Μαθημάτων</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'book-registration'}" (click)="setActiveTab('book-registration')">Δηλώσεις Συγγραμάτων</a>
      </li>
    </ul>

    <section class="tab-container" [ngSwitch]="selectedTab">

      <app-student-marks-page *ngSwitchCase="'marks'"></app-student-marks-page>

    </section>


  </div>


</section>
