
<!--<h1 *ngIf="userData">{{ userData | json }}</h1>-->
<!--<hr>-->
<!--<h1 *ngIf="studentDetails">{{ studentDetails | json }}</h1>-->

<main role="main" class="container" *ngIf="studentDataLoaded">

  <div class="card shadow-sm" style="margin-top: 80px; height: 100px">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" style="margin-top: -40px">
          <div class="card shadow">
            <section class="student-info-container">
              <span class="first-name-placeholder">{{studentDetails.name}} {{studentDetails.surname}}</span>
              <span class="first-name-placeholder">{{studentDetails.departmentName}}</span>
              <span>{{studentDetails.registryNumber}}</span>
            </section>
          </div>
        </div>
        <div class="col-md-8">
          <div class="student-details-container">
            <div class="student-details-col-container">
              <div class="student-detail-field">Τρόπος εισαγωγής: <span>Πανελλήνιες</span></div>
              <div class="student-detail-field">Έτος εισαγωγής: <span>{{studentDetails.enrollDate | date:'yyyy'}}</span></div>
            </div>
            <div class="student-details-col-container">

              <div class="student-detail-field">Τρέχον Εξάμνο: <span>{{studentDetails.semester}}ο</span></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">

    <div class="container">
      <div class="row">
        <div class="col-md-6 page-shortcuts-col">
          <section class="card shadow">


            <div class="card-header">
              <h3>Συντομέυσεις</h3>
            </div>

            <div class="fast-actions-container">

              <div class="fast-actions-list">

                <div class="fast-action-list-element" (click)="navigateTo('student')">

                  <div class="action-circle">
                    <div>
                      <fa-icon [icon]="studentPageIcon"></fa-icon>
                    </div>
                  </div>
                  <div class="action-title">
                    <span>Σελίδα Μαθητή</span>
                  </div>

                </div>
                <div class="fast-action-list-element">

                  <div class="action-circle">
                    <div>
                      <fa-icon [icon]="classWebIcon"></fa-icon>
                    </div>
                  </div>
                  <div class="action-title">
                    <span>Class Web</span>
                  </div>

                </div>

              </div>

            </div>



          </section>
        </div>
        <div class="col-md-6 page-announcements-col">
          <div class="card shadow">




            <div class="card-header">
              <h3>Ανακοινώσεις</h3>
            </div>

            <div class="announcements-container" *ngIf="announcementsLoaded">

              <div class="announcement" *ngFor="let a of announcements">
                <a class="announcement-title" href="#">{{ a.title }}</a>
                <span class="announcement-date">{{ a.insDate | date:'short' }}</span>
              </div>
<!--              <div class="announcement">-->
<!--                <a class="announcement-title" href="#">New Books arrived!!!</a>-->
<!--                <span class="announcement-date">Yesterday</span>-->
<!--              </div>-->
<!--              <div class="announcement">-->
<!--                <a class="announcement-title" href="#">New Books arrived!!!</a>-->
<!--                <span class="announcement-date">Yesterday</span>-->
<!--              </div>-->
<!--              <div class="announcement">-->
<!--                <a class="announcement-title" href="#">New Books arrived!!!</a>-->
<!--                <span class="announcement-date">Yesterday</span>-->
<!--              </div>-->
<!--              <div class="announcement">-->
<!--                <a class="announcement-title" href="#">New Books arrived!!!</a>-->
<!--                <span class="announcement-date">Yesterday</span>-->
<!--              </div>-->
<!--              <div class="announcement">-->
<!--                <a class="announcement-title" href="#">New Books arrived!!!</a>-->
<!--                <span class="announcement-date">Yesterday</span>-->
<!--              </div>-->
<!--              <div class="announcement">-->
<!--                <a class="announcement-title" href="#">New Books arrived!!!</a>-->
<!--                <span class="announcement-date">Yesterday</span>-->
<!--              </div>-->
<!--              <div class="announcement">-->
<!--                <a class="announcement-title" href="#">New Books arrived!!!</a>-->
<!--                <span class="announcement-date">Yesterday</span>-->
<!--              </div>-->

            </div>




          </div>
        </div>
      </div>
    </div>

  </div>

</main>
