<section class="container">
  <div class="card shadow-sm" style="margin-top: 70px;">

    <div class="container-fluid my-2">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Εφαρμογές</a></li>
              <li class="breadcrumb-item active">Κατάλογος Προσωπικού</li>
            </ol>
          </nav>
          <h1>Κατάλογος Προσωπικού</h1>
          <hr>
          <section>
            <div class="container-fluid">
              <app-employee-catalog-search-form (formSubmitted)="searchFormSubmitted($event)"></app-employee-catalog-search-form>
              <div class="row">
                <div class="col-md-12">
                  <section class="search-results-container">
                    <div class="search-result" *ngFor="let emp of employeeSearchResults">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="search-result-icon-container">

                              <fa-icon [icon]="userDefaultPictureIcon"></fa-icon>

                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="search-result-info">
                              <span>{{ emp.name }} {{ emp.surname }}</span>
                              <span>{{ emp.title }}</span>
                              <span class="office">Γραφείο {{ emp.office }}</span>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="search-result-info">
                                <span class="email"><fa-icon [icon]="mailIcon"></fa-icon>
                                  {{ emp.email }}</span>
                              <span class="site"><a href="">{{ emp.siteUrl }}</a></span>
                              <span class="phone"><fa-icon [icon]="phoneIcon"></fa-icon> {{ emp.phone }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>


  </div>
</section>
