
.semester-select {
  width: 400px;
}

.marks-table-top-controls {
  display: flex;
  flex-wrap: wrap;
}

.marks-table-top-buttons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.card {
  margin-top: 20px;
}

.marks-table {
  padding: 20px 8px
}
