<div class="container-flud">
  <div class="row">
    <div class="col-md-12">

      <section class="marks-table" *ngIf="studentData && studentMarks">

        <section class="marks-table-top-controls">


          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group mb-3 semester-select">
                  <label for="semesterSelect">Εξάμηνο</label>
                  <select class="custom-select" [value]="selectedSemester" (change)="onSemesterSelectChange($event)" id="semesterSelect">
                    <option value="0" selected>Όλα</option>
                    <option value="1">1ο</option>
                    <option value="2">2ο</option>
                    <option value="3">3ο</option>
                    <option value="4">4ο</option>
                    <option value="5">5ο</option>
                    <option value="6">6ο</option>
                    <option value="7">7ο</option>
                    <option value="8">8ο</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="marks-table-top-buttons">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary" (click)="exportCurrentMarksToExcel()"><fa-icon [icon]="excelExportIcon"></fa-icon>Εξαγωγή</button>
<!--                    <button type="button" class="btn btn-outline-secondary"><fa-icon [icon]="downloadIcon"></fa-icon>-->
<!--                      Κατέβασμα</button>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>

        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th scope="col">Κωδικός Μαθήματος</th>
            <th scope="col">Όνομα Μαθήματος</th>
            <th scope="col">Καθηγητής</th>
            <th scope="col">Βαθμολογία</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let r of studentMarks">
            <td>{{ r.registryNumber }}</td>
            <td>{{ r.name }}</td>
            <td>{{ r.professors[0].surname }}</td>
            <td>{{ r.mark }}</td>
          </tr>
          </tbody>
        </table>

      </section>

      <div class="container-fluid charts-container">
        <div class="row">
          <div class="col-md-6">
            <canvas #semesterMarksChart width="400" height="400"></canvas>
          </div>
          <div class="col-md-6">
            <canvas #marksChart width="400" height="400"></canvas>
          </div>
        </div>
      </div>



    </div>

  </div>

</div>
