<section class="container">
  <div class="card shadow-sm" style="margin-top: 70px;">

    <div class="container-fluid my-2">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Εφαρμογές</a></li>
              <li class="breadcrumb-item active">Αίτηση</li>
            </ol>
          </nav>

          <section>
            <router-outlet></router-outlet>
          </section>

        </div>
      </div>
    </div>


  </div>
</section>
