<h1>Υπηρεσία Υποβολής Aιτήσεων</h1>

<hr>

<section class="table-container">
  <table class="table table-sm table-hover" *ngIf="requestsLoaded">
    <thead>
    <tr>
      <th scope="col">Κωδικός Αίτησης</th>
      <th scope="col">Σημειώσεις</th>
      <th scope="col">Κατάσταση</th>
      <th scope="col">Τύπος Αίτησης</th>
      <th scope="col">Ημερομηνία Υποβολής</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of requests">
      <td>{{ r.applicationId }}</td>
      <td>{{ r.notes }}</td>
      <td>{{ r.status }}</td>
      <td>{{ r.applicationTypeName }}</td>
      <td>{{ r.applicationDate | date:'short' }}</td>
    </tr>
    </tbody>
  </table>
</section>

<section class="buttons-container">
  <button type="button" class="btn btn-outline-primary" (click)="onNewRequestClicked()">Αίτηση</button>
</section>




