.nav-tabs {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-user-icon-link.nav-link {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  .navbar-user-data {
    display: inline-block;
  }
  .navbar-user-icon {
    display: inline-block;
    font-size: 1.3em;
    margin: 0 0 0 10px;
  }
}




.notifications-menu-item {
  margin-right: 0;
  font-size: 1.2em;
  padding-bottom: 0 !important;
}

.notifications-badge {
  position: relative;
  bottom: 15px;
  right: 10px;
  width: 20px;
  height: 17px;
  font-size: 9px !important;
}
